.App {
  text-align: center;
  padding: 20px;

}

.search-box {
	width: 300px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.list-box {
	margin: 0px auto;
	width: 300px;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: #e5dada;
	border: 2px solid rgb(85, 84, 84);
}

.list-item {
	padding: 2px 3px;
	background: white;
	border: 1px solid grey;
	margin-top: 5px;
	border-radius: 5px;
}